<!DOCTYPE html>
<html lang="en" xmlns:th:="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Auth</title>
</head>
<body>
Login:<br><br>
<form th:action="@{/mylogin}" method="post">
    Enter login:<input type="text" name="username"><br><br>
    Enter password:<input type="password" name="password"><br><br>
    <input type="submit" value="Login">
</form>

Logout:<br><br>
<form th:action="@{/mylogout}" method="post">
    <input type="submit" value="Logout">
</form>
</body>
</html>